body {
    background: #eeeeee;
    color: black;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    margin: 25px;
}

#settings {
    padding-left: 5%;
    padding-right: 5%;
}

button {
    font-size: 40px;
    margin: 20px;
    background: blue;
    color: white;
}

input {
    width: 40px;
    border:1px solid #6287f8;
}

h3 {
    font-size: 30px;
    margin: 10px;
}

textarea {
    margin-right: 5px;
    min-height: 10px;
    width: 90%;
	border:1px solid #6287f8;
    border-left: 4px solid #6287f8;
}

h2 {
    font-size: 40px;
    margin: 10px;
}

#results {
    padding-left: 5%;
    padding-right: 5%;
}

p {
    margin: 10px;
    text-align: justify;
}

footer {
    margin: 25px;
}